/*
COMBOS

keyboard: corne (https://github.com/foostan/crkbd)
firmware: zmk (https://zmk.dev/)
nugatio@2024.09.20 (https://github.com/nugatio/zmk-corne-config)
*/


// MACROS

#define COMBO(NAME, BINDINGS, KEYPOS) \
    combo_##NAME { \
        bindings = <BINDINGS>; \
        key-positions = <KEYPOS>; \
        timeout-ms = <COMBO_TIMEOUT>; \
    };


// OVERVIEW

/* key position names (defined in positions.dtsi)
    ╭─────────────────────╮ ╭─────────────────────╮
LT5 │ LT4 LT3 LT2 LT1 LT0 │ │ RT0 RT1 RT2 RT3 RT4 │ RT5
LM5 │ LM4 LM3 LM2 LM1 LM0 │ │ RM0 RM1 RM2 RM3 RM4 │ RM5
LB5 │ LB4 LB3 LB2 LB1 LB0 │ │ RB0 RB1 RB2 RB3 RB4 │ RB5
    ╰───────╮ LH3 LH2 LH1 │ │ RH1 RH2 RH3 ╭───────╯
            ╰─────────────╯ ╰─────────────╯
*/


// DEFINITION

combos {
    compatible = "zmk,combos";

// clipboard
COMBO(paste, &kp LG(V),     LT3 LT2)
COMBO(copy,  &kp LG(C),     LM1 LM0)
COMBO(cut,   &kp LG(X),     RB3 RB2)

// revision
COMBO(redo,  &kp LG(LS(Z)), LT4 LT3)
COMBO(undo,  &kp LG(Z),     LM2 LM1)

// window
COMBO(quit,  &kp LG(Q),     LT2 LT1)
COMBO(new,   &kp LG(N),     LM0 LB0)
COMBO(close, &kp LG(W),     RB2 RB1)

// structural
COMBO(lbrc,  &kp LBRC,      RM0 RM1)
COMBO(rbrc,  &kp RBRC,      RM4 RM5)
COMBO(lpar,  &kp LPAR,      RM1 RM2)
COMBO(rpar,  &kp RPAR,      RM5 RB5)
COMBO(lbkt,  &kp LBKT,      RM2 RM3)
COMBO(rbkt,  &kp RBKT,      RB5 RB4)
COMBO(lt,    &kp LT,        RM3 RM4)
COMBO(gt,    &kp GT,        RB4 RB3)

// special
COMBO(at,    &kp AT,        LT0 LT1)
COMBO(under, &kp UNDER,     LT1 LT2)
COMBO(equal, &kp EQUAL,     LT2 LT3)

// other
COMBO(all,   &kp LG(A),     LM3 LM2)
COMBO(find,  &kp LG(F),     RB4 RB3)
};
