/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";
        combo_all {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };
    };

    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
        sca: special_character_a {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp EXCL>, <&kp QMARK>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        scb: special_character_b {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp FSLH>, <&kp STAR>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        scc: special_character_c {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp HASH>, <&kp DLLR>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        scd: special_character_d {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp SEMI>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        sce: special_character_e {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp MINUS>, <&kp PLUS>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        scf: special_character_f {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp COLON>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        scg: special_character_g {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp DQT>, <&kp SQT>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        sch: special_character_h {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp C_VOL_UP>, <&kp C_PREV>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        sci: special_character_i {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp C_MUTE>, <&kp C_PP>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        scj: special_character_j {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp C_VOL_DN>, <&kp C_NEXT>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

            display-name = "BASE";
            bindings = <
&kp ESC   &kp X        &kp W       &kp M       &kp G        &sca          &scc         &scf         &scg        &kp J       &kp B        &sch
&kp Z     &hm LCTRL S  &hm LALT C  &hm LCMD N  &hm LSHFT T  &kp K         &scd         &hm RSHFT A  &hm RCMD E  &hm RALT I  &hm RCTRL H  &shi
&kp CAPS  &kp V        &kp P       &kp L       &kp D        &scb          &sce         &kp U        &kp O       &kp Y       &kp F        &shj
                                   &kp Q       &kp R        &lt 2 BSPC    &lt 1 SPACE  &kp RET      &kp TAB
            >;
        };

        symbol_function_layer {
            display-name = "RGHT";
            bindings = <
&none  &none     &none     &none      &kp CARET  &none      &none  &kp F7  &kp F8  &kp F9  &kp F12  &none
&none  &kb BSLH  &kb PIPE  &kb PRCNT  &kb AMPS   &none      &none  &kp F4  &kp F5  &kp F6  &kb F11  &none
&none  &none     &none     &none      &none      &none      &none  &kb F1  &kb F2  &kb F3  &kb F10  &none
                           &none      &kb INS    &kp DEL    &none  &none   &none
            >;
        };

        numpad_navigation_layer {
            display-name = "LEFT";
            bindings = <
&none  &none    &none      &none      &kp C_BRI_UP  &none    &kp FSLH  &kp N7   &kp N8  &kp N9  &kp EQUAL  &none
&none  &kb END  &kb PG_DN  &kb PG_UP  &kb HOME      &none    &kp STAR  &kp N4   &kp N5  &kp N6  &kp PLUS   &none
&none  &none    &none      &none      &kb C_BRI_DN  &none    &kp none  &kp N1   &kp N2  &kp N3  &kp MINUS  &none
                           &none      &none         &none    &kp N0    &kb DOT  &none
            >;
        };
    };
};
