/*
CONFIG

keyboard: corne (https://github.com/foostan/crkbd)
firmware: zmk (https://zmk.dev/)
nugatio@2024.09.20 (https://github.com/nugatio/zmk-corne-config)
*/


// IMPORTS

// default
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

// other
#include "settings.dtsi"   // settings
#include "positions.dtsi"  // positions
#include "display.dtsi"    // display


// DEFINITION

/ {
#include "combos.dtsi"     // combos
#include "behaviors.dtsi"  // behaviors
#include "macros.dtsi"     // macros
#include "keymap.dtsi"     // keymap
};
